<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neelhpatel.godark">

    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <service
            android:name="com.neelhpatel.godark.GoDarkQuickTile"
            android:icon="@drawable/ic_brightness_1_black_24dp"
            android:label="@string/screen_black_tile_label"
            android:exported="true"
            android:value="false"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>


    </application>
</manifest>
