<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neelhpatel.reverseportrait">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".TileSettingsActivity"
            android:label="@string/title_activity_tile_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>
            </intent-filter>
        </activity>

        <service
            android:name=".ReversePortrait"
            android:exported="true"
            android:icon="@drawable/ic_screen_lock_portrait_black_24dp"
            android:label="@string/rev_portrait_tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:value="false">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service android:name=".ChargingDetectService" />

    </application>

</manifest>